<% content_for :title, "Editing customer" %>

<h1>Editing customer</h1>

<%= render "form", admin_customer: @admin_customer %>

<br>

<div>
  <%= link_to "Show this customer", @admin_customer %> |
  <%= link_to "Back to customers", admin_customers_path %>
</div>
