<section>
    <div class="container">
        <div>
            <%# <h2>Here begins the journey</h2>
            <p>We offer a diverse selection of dresses for your ceremonies, providing you with ample choices to suit your preferences</p> %>
        </div>
        <div>
            
        </div>
    </div>
</section>
<section></section>