<% content_for :title, "New dress variant" %>

<h1>New dress variant</h1>

<%= render "form", admin_dress_variant: @admin_dress_variant %>

<br>

<div>
  <%= link_to "Back to dress variants", admin_dress_variants_path %>
</div>
