<% content_for :title, "Reiniciar contraseña - #{$app_name}" %>

<div class="auth_container">
    <div class="auth_content">
        <div class="reset_password_box_title">
            <h2 class="auth_title"><%= $app_name %></h2>
            <h4>Restablecer contraseña</h4>
        </div>

        <div>
            <p class="reset_password_text">
                Por favor, introduce tu nueva contraseña. Te enviaremos un enlace para restablecer tu contraseña.
            </p>
        </div>

        <div>
            <div class="auth_form_group">
                <div class="auth_form_block">
                    <span>Nueva contraseña</span>
                    <input type="password" name="password">
                </div>
                <div class="auth_form_group_icon">
                    <div class="c-pointer">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3463 7.33489C21.7137 7.52615 21.8565 7.97904 21.6653 8.34645C21.2927 9.06217 20.7402 9.70375 20.064 10.2579C18.1797 11.8023 15.2388 12.7502 12 12.7502C8.76127 12.7502 5.82034 11.8023 3.93599 10.2579C3.25976 9.70374 2.70732 9.06216 2.33475 8.34646C2.14349 7.97905 2.28629 7.52616 2.6537 7.33489C3.02111 7.14363 3.47401 7.28643 3.66527 7.65385C3.92742 8.15744 4.33671 8.64697 4.88679 9.09777C6.44067 10.3713 9.01775 11.2502 12 11.2502C14.9823 11.2502 17.5593 10.3713 19.1132 9.09779C19.6633 8.64697 20.0726 8.15743 20.3347 7.65385C20.526 7.28644 20.9789 7.14363 21.3463 7.33489Z" />
                            <path d="M14.2948 11.2757C14.6949 11.1685 15.1061 11.4059 15.2133 11.806L16.2486 15.6697C16.3558 16.0698 16.1183 16.4811 15.7182 16.5883C15.3181 16.6955 14.9069 16.4581 14.7997 16.058L13.7644 12.1943C13.6572 11.7942 13.8946 11.3829 14.2948 11.2757Z" />
                            <path d="M18.1464 10.1466C18.4393 9.85373 18.9142 9.85373 19.2071 10.1466L22.0355 12.975C22.3284 13.2679 22.3284 13.7428 22.0355 14.0357C21.7427 14.3286 21.2678 14.3286 20.9749 14.0357L18.1464 11.2073C17.8535 10.9144 17.8535 10.4395 18.1464 10.1466Z" />
                            <path d="M5.85874 10.1466C6.15163 10.4395 6.15163 10.9144 5.85874 11.2073L3.03033 14.0357C2.73744 14.3286 2.26256 14.3286 1.96967 14.0357C1.67678 13.7428 1.67678 13.2679 1.96967 12.975L4.79808 10.1466C5.09097 9.85373 5.56585 9.85373 5.85874 10.1466Z" />
                            <path d="M9.69323 11.2757C10.0933 11.3829 10.3308 11.7942 10.2236 12.1943L9.18825 16.058C9.08105 16.4581 8.66979 16.6955 8.26969 16.5883C7.86959 16.4811 7.63216 16.0698 7.73937 15.6697L8.77467 11.806C8.88188 11.4059 9.29313 11.1685 9.69323 11.2757Z" />
                        </svg>
                    </div>
                </div>
            </div>

             <div class="auth_form_group"> 
                <div class="auth_form_block">
                    <span>Vuelva a ingresar la contraseña</span>
                    <input type="password" name="r-password">
                </div>
            </div>
        </div>
        <div>
            <button class="auth_button auth_submit">Enviar</button>
        </div>
    </div>
</div>