<div id="<%= dom_id document %>">
  <p>
    <strong>Rental:</strong>
    <%= document.rental_id %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= document.document_type %>
  </p>

  <p>
    <strong>File url:</strong>
    <%= document.file_url %>
  </p>

</div>
