.forgot_password_box_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot_password_box_title h2{
    padding-bottom: 10px;
}

.forgot_password_box_title h4{
    padding-bottom: 40px;
}

.forgot_password_text{
    padding-bottom: 40px;
    font-size: .9em;
    color: rgba(0,0,0,.7);
    text-align: center;
}

.forgot_password_footer{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.forgot_password_footer a{
    color: black;
    font-weight: 500;
}

.forgot_password_footer a:hover{
    text-decoration: underline;
}