.reset_password_box_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset_password_box_title h2{
    padding-bottom: 10px;
}

.reset_password_box_title h4{
    padding-bottom: 40px;
}

.reset_password_text{
    padding-bottom: 40px;
    font-size: .9em;
    color: rgba(0,0,0,.7);
    text-align: center;
}
