<main class="layout_application_main">
    <div class="layout_application_background">
      <svg width="1440" height="753" viewBox="0 0 1440 753" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.05">
        <mask id="path-1-inside-1_775_8451" fill="white">
        <path d="M809 -13H833V753H809V-13Z"/>
        <path d="M761 -13H785V753H761V-13Z"/>
        <path d="M713 -13H737V753H713V-13Z"/>
        <path d="M665 -13H689V753H665V-13Z"/>
        <path d="M1721 -13H1745V753H1721V-13Z"/>
        <path d="M617 -13H641V753H617V-13Z"/>
        <path d="M1673 -13H1697V753H1673V-13Z"/>
        <path d="M569 -13H593V753H569V-13Z"/>
        <path d="M1625 -13H1649V753H1625V-13Z"/>
        <path d="M521 -13H545V753H521V-13Z"/>
        <path d="M1577 -13H1601V753H1577V-13Z"/>
        <path d="M473 -13H497V753H473V-13Z"/>
        <path d="M1529 -13H1553V753H1529V-13Z"/>
        <path d="M425 -13H449V753H425V-13Z"/>
        <path d="M1481 -13H1505V753H1481V-13Z"/>
        <path d="M377 -13H401V753H377V-13Z"/>
        <path d="M329 -13H353V753H329V-13Z"/>
        <path d="M281 -13H305V753H281V-13Z"/>
        <path d="M233 -13H257V753H233V-13Z"/>
        <path d="M185 -13H209V753H185V-13Z"/>
        <path d="M137 -13H161V753H137V-13Z"/>
        <path d="M89 -13H113V753H89V-13Z"/>
        <path d="M41 -13H65V753H41V-13Z"/>
        <path d="M-7 -13H17V753H-7V-13Z"/>
        <path d="M-55 -13H-31V753H-55V-13Z"/>
        <path d="M849 -13H873V753H849V-13Z"/>
        <path d="M1377 -13H1401V753H1377V-13Z"/>
        <path d="M1329 -13H1353V753H1329V-13Z"/>
        <path d="M1281 -13H1305V753H1281V-13Z"/>
        <path d="M1233 -13H1257V753H1233V-13Z"/>
        <path d="M1185 -13H1209V753H1185V-13Z"/>
        <path d="M1137 -13H1161V753H1137V-13Z"/>
        <path d="M1089 -13H1113V753H1089V-13Z"/>
        <path d="M1041 -13H1065V753H1041V-13Z"/>
        <path d="M993 -13H1017V753H993V-13Z"/>
        <path d="M945 -13H969V753H945V-13Z"/>
        <path d="M897 -13H921V753H897V-13Z"/>
        <path d="M1417 -13H1441V753H1417V-13Z"/>
        </mask>
        <path d="M809 -13H833V753H809V-13Z" stroke="url(#paint0_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M761 -13H785V753H761V-13Z" stroke="url(#paint1_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M713 -13H737V753H713V-13Z" stroke="url(#paint2_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M665 -13H689V753H665V-13Z" stroke="url(#paint3_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1721 -13H1745V753H1721V-13Z" stroke="url(#paint4_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M617 -13H641V753H617V-13Z" stroke="url(#paint5_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1673 -13H1697V753H1673V-13Z" stroke="url(#paint6_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M569 -13H593V753H569V-13Z" stroke="url(#paint7_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1625 -13H1649V753H1625V-13Z" stroke="url(#paint8_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M521 -13H545V753H521V-13Z" stroke="url(#paint9_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1577 -13H1601V753H1577V-13Z" stroke="url(#paint10_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M473 -13H497V753H473V-13Z" stroke="url(#paint11_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1529 -13H1553V753H1529V-13Z" stroke="url(#paint12_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M425 -13H449V753H425V-13Z" stroke="url(#paint13_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1481 -13H1505V753H1481V-13Z" stroke="url(#paint14_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M377 -13H401V753H377V-13Z" stroke="url(#paint15_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M329 -13H353V753H329V-13Z" stroke="url(#paint16_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M281 -13H305V753H281V-13Z" stroke="url(#paint17_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M233 -13H257V753H233V-13Z" stroke="url(#paint18_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M185 -13H209V753H185V-13Z" stroke="url(#paint19_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M137 -13H161V753H137V-13Z" stroke="url(#paint20_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M89 -13H113V753H89V-13Z" stroke="url(#paint21_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M41 -13H65V753H41V-13Z" stroke="url(#paint22_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M-7 -13H17V753H-7V-13Z" stroke="url(#paint23_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M-55 -13H-31V753H-55V-13Z" stroke="url(#paint24_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M849 -13H873V753H849V-13Z" stroke="url(#paint25_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1377 -13H1401V753H1377V-13Z" stroke="url(#paint26_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1329 -13H1353V753H1329V-13Z" stroke="url(#paint27_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1281 -13H1305V753H1281V-13Z" stroke="url(#paint28_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1233 -13H1257V753H1233V-13Z" stroke="url(#paint29_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1185 -13H1209V753H1185V-13Z" stroke="url(#paint30_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1137 -13H1161V753H1137V-13Z" stroke="url(#paint31_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1089 -13H1113V753H1089V-13Z" stroke="url(#paint32_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1041 -13H1065V753H1041V-13Z" stroke="url(#paint33_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M993 -13H1017V753H993V-13Z" stroke="url(#paint34_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M945 -13H969V753H945V-13Z" stroke="url(#paint35_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M897 -13H921V753H897V-13Z" stroke="url(#paint36_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        <path d="M1417 -13H1441V753H1417V-13Z" stroke="url(#paint37_linear_775_8451)" stroke-width="2" mask="url(#path-1-inside-1_775_8451)"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint1_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint2_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint3_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint4_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint5_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint6_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint7_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint8_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint9_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint10_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint11_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint12_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint13_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint14_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint15_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint16_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint17_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint18_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint19_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint20_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint21_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint22_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint23_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint24_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint25_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint26_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint27_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint28_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint29_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint30_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint31_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint32_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint33_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint34_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint35_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint36_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint37_linear_775_8451" x1="-43" y1="-13" x2="-43" y2="753" gradientUnits="userSpaceOnUse">
        <stop/>
        <stop offset="1" stop-color="#666666" stop-opacity="0"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div>
      <%= yield %>
    </div>
</main>